* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows:repeat(9, 1fr);
    margin: 0 auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100vw;
    height: 100vh;

}

.box {
    padding: 1em;
}

.header {
    background-color: #ffd700;
    grid-area: 1 / 1 / 1 / -1;
}

.nav {
    background-color: #ffd700;
    grid-area: 2 / 1 / -1 / 3;
}

.article {
    background-color: #ffd700;
    grid-area: 2 / 3 / 9 / 8;
}


.ads {
    background-color: #ffd700;
    grid-area: 2 / 8 / 9 / -1;
}

.footer {
    background-color: #ffd700;
    grid-area: 9 / 3 / -1 / -1;
}