.btn-search-stores {
    padding: 6px 20px;
}

header nav {
    padding: 0;
}

.sign-up  {
    list-style-type: none;
}

.sign-up a {
    display: block;
    text-decoration: none;
}

i {
    padding: 0 3px;
}

a:hover {
    background: lightgrey;
}

.sign-up a:hover {
    background: lightgray;
    color: black;
}

.jumbotron-fluid {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;

}

.jumbotron-fluid {
    padding: 5em 0em;
    background-image: url("../imgs/pizza.png");
    background-size: cover;
    color: white;
    margin-bottom: 2em;
}

h1 {
    background: white;
    opacity: 0.7;
    color: black;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}



.inner-header{
    color: black;
}
.card-body {
    width: 100%;
}

.card-inner {
    margin: 15px;
}

.header-white {
    color: white;
}








