
h1 {
    color: purple;
    text-align: center;
    text-decoration: underline;
    color: darkgreen;
}

h2 {
    color: mediumvioletred;
    text-decoration: underline;
}

nav {
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

body {
    background-color: whitesmoke;
    background-image: url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Oxanium';
    background-repeat: no-repeat;
}

li {
    list-style: upper-alpha;
}

table {
    border: none;
}

tr>td {
    padding: 10px;
    text-align: left;
    font-size: 1.3em;
}

a:link {
    color: blue;
}

a:visited {
    color: deeppink;
}

a:hover {
    background-color: orchid;
}

a:active {
    color: white;
}





